<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JALT – Sign Up</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <main id="signup-page">
      <h1>Sign Up</h1>
      <a href="/" class="back-section">
        <button id="backLogin-button">back</button>
      </a>  
      <form action="/signup" method="POST">
          <fieldset class="signup-fieldset">
              <label>Email:<input class="signup-email" type="email" name="email" required></label> <br>
              <label>Username:<input class="signup-user" type="text" name="user" required></label> <br>
              <label>Password: <input class="signup-pass" type="password" name="password" required></label> <br>
              <div class="signup-buttons">
                  <input class="signup-reset" type="reset">
                  <input class="signup-submit" type="submit" value="Sign Up">
              </div>
          </fieldset>
      </form>
    </main>

    <script src="js/api.js"></script>
    <script src="js/signup.js"></script>
  </body>
</html>
